#firstp 
{ color: lightblue ;
    font-size: 19px;
    font-weight: bold;
}

body
    /* background-color: lightgreen; */


mark {
    background: red;
}
img{
    max-width: 100%;
    height: auto;
}

#javascript  img{ 
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 10px;
    max-width: 100%;
    

}
#javascript{
    text-align: justify;
    float: right;
    color: darkblue;
    font-size: 16px;
    font-family: serif;
    
}
.mytable {
    background-color: red;
    text-align: center;
    border-radius: 2px;
    border: 1px solid black;
    width: 100%;
}
.mytable td , .mytable th{
    border: 1px solid gray;
    border-radius: 2px;
    width:20%;

    }
    .mytable td span{
        border:1px solid green;
     }

     .responsive-h1 {
         font-size: 10vw;
     }





